{% extends 'base.html.twig' %}

{% block title %}New HostPlace{% endblock %}

{% block body %}
    <h1>Créer un emplacement Woofing</h1>

    {{ include('host_place/_form.html.twig') }}

{% endblock %}
