{% extends 'base.html.twig' %}

{% block title %}Hello AlienPageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
    <script type='text/javascript' src={{ asset('interactive-map/raphael-min.js') }}></script>
    <script type='text/javascript' src={{ asset('interactive-map/worldmap.js') }}></script>

	<style>
	body {
		font: .88em/1.53em Arial, Helvetica, sans-serif;
		margin: 30px auto;
		color: #999;
	}
	h1 {
		font-size: 1.3em;
		margin: 0 0 10px;
		color: #000;
	}
	h2 {
		font-size: 2.2em;
		line-height: 1.1em;
		margin: 0 0 10px;
		color: #000;
	}
	a {
		color: #69C;
		text-decoration: none;
	}
	a:hover {
		color: #F30;
	}
	p {
		margin: 0 0 10px;
	}
	em {
		font: italic 100% "Times New Roman", Times, serif;
	}
	.credits {
		border-bottom: solid 1px #eee;
		padding-bottom: 10px;
		margin: 0 0 50px;
	}
	#pagewrap {
		margin: 0 auto;
		width: 800px;
		max-width: 94%;
	}
	
	#map {
		width: 100%;
	}
	</style>
</head>

<body>
<div id="pagewrap">
		<h1 id="location_name">City</h1>
	<div id="map"></div>
	</div>
</body>

<div class="example-wrapper">
</div>
{% endblock %}
