<footer id="footer">
    <div class="footer-bottom ">
        <div class="footer-social">
            <a href="https://www.facebook.com/epitech/" target="_blank" data-toggle="tooltip" title="facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/Epitech" target="_blank" data-toggle="tooltip" title="twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCmmYbDGZDVOD0XYh5wOFh0A" target="_blank" data-toggle="tooltip"
                title="youtube">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <p>
            Copyleft {{ "now"|date("Y") }} <a href="https://www.netflix.com/title/80068327" target="_blank">War Machines</a>. Feel free to inspire
            yourself.
        </p>
    </div>
</footer>
