{% extends 'base.html.twig' %}

{% block title %}New Transaction{% endblock %}

{% block body %}
    <a href="/" style="position: absolute; float: left; z-index: 1000" target="_blank" onClick="location='/'">&#8592Home</a>
    <h1>Poster sa candidature</h1>

    {{ include('transaction/_form.html.twig') }}

    {# <a href="{{ path('transaction_index') }}">back to list</a> #}
{% endblock %}
